.App{
    display: flex;
    flex-direction: column;
    /* width: 90vw;
    height: 100vh; */
}

/* ----------Header---------- */

.header{
    display: flex;
    background-color: rgb(226, 217, 217);
    justify-content:space-between;
    align-items: center;
    height: 50px;
    padding: 4px 20px 4px 12px;
}

.menuContent{
    display: flex;
    flex:1;
    justify-content: flex-start;
    align-items: flex-start;
}

.content{
 padding-left: 12px;
}

/* ---------Footer--------- */

.footer{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}